body{
    background-color:black;
}
h1{
    color: white;
}
.container{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.bolhas{
    position: absolute;
    display: flex;
}
.bolhas span{
    width: 30px;    
    height: 30px;
    background-color: red;
    margin: 0 4px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px rgb(255, 0, 44),
     0 0 50px rgb(255, 0, 0),
     0 0 100px rgb(255, 0, 0);
     animation: animar calc(30s / var(--i)) linear infinite;

}
@keyframes animar {
    0%{
        transform: translateY(100vh) scale(0);

    }
    100% {
        transform: translateY(-10vh) scale(1);
    }

}
